/* CSS Reset */

html, body, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li , figure, figcaption, form, fieldset, label, legend, dl, dt, dd, caption, table, td, th {
    margin: 				0;
    padding:				0;
    font-size: 				100%;
}

section, article, header, footer, nav, aside, main {
	display:				block;
}

img {
	border:					none;
}

ul, ol {
	list-style-type: 		none;
}

/* Defaults */

body {
	font-family:			Tahoma, Arial, sans-serif;
	background-color:		antiquewhite;			
}

.skiplink {
	position:				absolute;
	left: 					-10000px;
}

.skiplink:focus {
	left:					0;
	background-color: 		#4c712b;
	color:					#ffff00;
}

.skiplink a:hover, a:focus {
	color:					#4c712b;
	text-decoration:		underline;
}

/* ----------------- Header section --------------- */

header {
    background-image: url('images/companylogo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 150px;
    position: relative;
    display: inline;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #000;
    display: inline;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    background-color: #fff;
    text-decoration: none;;
    font-family: Arial, Helvetica, sans-serif;  
}

.cart ion-icon {
   vertical-align: bottom;
   font-size: 20px;
   padding-right: 5px;
}

.cart a {
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/* ----------------- Main section --------------- */

h1 {
	font-weight:			bold;
	color:					#000;
	font-family:			'Oswald', sans-serif;
	font-size:				1em;
    margin:                 5px;
}

h5 {
    font-family:            Arial, Helvetica, sans-serif;
}

p {
	font-family: 			Arial, Helvetica, sans-serif;
	color:					#000;
	clear:					both;
    margin-left:            5px;
}

p a {
	font-family: 			Arial, Helvetica, sans-serif;
	color:					#000;
	clear:					both;
	text-align:				justify;
}

.container,
.container-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 25px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    background-color: white;
    padding: 10px;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: darkgrey;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-left: -25px;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8,
.image:hover .cart9,
.image:hover .cart10,
.image:hover .cart11,
.image:hover .cart12,
.image:hover .cart13,
.image:hover .cart14,
.image:hover .cart15,
.image:hover .cart16,
.image:hover .cart17,
.image:hover .cart18,
.image:hover .cart19,
.image:hover .cart20,
.image:hover .cart21,
.image:hover .cart22,
.image:hover .cart23,
.image:hover .cart24,
.image:hover .cart25,
.image:hover .cart26,
.image:hover .cart27,
.image:hover .cart28
{
    bottom: 50px;
    opacity: 1;
    text-decoration: none;
}

/* ----------------- CART PAGE --------------- */

.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

@media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }

    .sm-hide {
        display: none;;
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }
}
